# Database Configuration
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/sohoj-upai?retryWrites=true&w=majority

# Auth Configuration
NEXTAUTH_SECRET=your_nextauth_secret_here
NEXTAUTH_URL=http://localhost:3000
JWT_SECRET=your_jwt_secret_here

# Cloudinary Storage Configuration
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# SMS Gateway Configuration
SMS_API_KEY=your_sms_api_key
SMS_SENDER_ID=your_sms_sender_id

# Public Next.js API & Socket URLs
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_SOCKET_URL=http://localhost:3000
